body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/Police.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 70%;
    max-width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    color: white;
}

h1 {
    font-size: 2.5rem;
    color: #ff3333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    color: white;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #0073e6;
    background-color: rgba(255, 255, 255, 0.9);
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

.spreadsheet-container {
    margin-top: 30px;
}

iframe {
    border: none;
}



/* Section des boutons latéraux */
.sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px; /* Ajuste la largeur de la sidebar */
}

/* Style des boutons */
.sidebar button {
    background-color: transparent;
    color: #ffffff;
    padding: 12px 25px;
    border: 3px solid #1b00b3;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar button:hover {
    color: #1b00b3;
    border-color: #0089b3;
    transform: translateY(-5px);
}

.sidebar button:active {
    transform: translateY(2px);
}

/* Pour les téléphones : mettre les boutons en haut */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .sidebar button {
        margin-bottom: 0;
        margin-right: 10px;
        flex: 1;
    }

    .container {
        margin-left: 0; /* Supprimer la marge à gauche sur mobile */
        width: 100%; /* Utilise tout l'espace sur mobile */
    }
}
