body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/AutoEcolefond.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 900px;
    margin: 20px auto;
    text-align: left;
    margin-left: 200px;
}

/* Titres */
h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #0073e6; /* Couleur spécifique pour les titres */
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline;
}

h3 {
    font-size: 1.25rem;
    color: #ffffff; /* Couleur blanche pour ce sous-titre */
    margin-bottom: 10px;
}

/* Texte général */
p, li, span, .important, .Rouge {
    color: #ffffff; /* Texte en blanc partout */
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Listes */
ul {
    margin-left: 20px;
    list-style-type: square;
}

li {
    margin-bottom: 10px;
}

/* Sections importantes */
.important {
    color: red;
    font-weight: bold;
}

.Rouge {
    color: red;
    font-weight: bold;
}

/* Section des boutons latéraux */
.sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

/* Style des boutons */
.sidebar button {
    background-color: transparent;
    color: #ffffff;
    padding: 12px 25px;
    border: 3px solid #1b00b3;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all

}